---
/**
 * Copyright 2025 Daniel Perez Alvarez
 *
 * This file is part of Static Feeds.
 *
 * Static Feeds is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option) any
 * later version.
 *
 * Static Feeds is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Static Feeds. If not, see <https://www.gnu.org/licenses/>.
 */

import "../styles/global.css";

import { compact, intersperse } from "@feeds/shared/array.ts";

import Footer from "../components/Footer.astro";
import HeaderBar from "../components/HeaderBar.astro";
import HeaderTitle from "../components/HeaderTitle.astro";
import Navigation from "../components/Navigation.astro";
import { getLangFromUrl, useTranslations } from "../i18n/index.ts";

interface Props {
  title?: string;
}

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang} class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark light" />

    <title>
      {
        intersperse(
          compact([
            title,
            t("layouts.Layout.appTitle"),
            t("layouts.Layout.siteTitle"),
          ]),
          t("common.fancySeparator"),
        )
      }
    </title>

    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />

    <meta name="author" content={t("layouts.Layout.metaAuthor")} />
    <meta name="description" content={t("layouts.Layout.metaDescription")} />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body
    class="bg-uwu-base text-uwu-text selection:bg-uwu-overlay2/25 flex min-h-full break-words text-sm antialiased md:text-base lg:text-lg xl:text-xl"
  >
    <div class="w-full">
      <div class="h-full lg:ms-72 xl:ms-80">
        <header
          class="contents lg:pointer-events-none lg:fixed lg:inset-0 lg:z-40 lg:flex"
        >
          <div
            class="bg-uwu-crust/50 lg:border-uwu-surface0 contents lg:pointer-events-auto lg:block lg:w-72 lg:overflow-y-auto lg:border-e lg:px-6 lg:pb-8 lg:pt-4 xl:w-80"
          >
            <HeaderTitle class="hidden lg:block" />
            <HeaderBar
              class="fixed top-0 z-50 px-4 sm:px-6 lg:start-72 lg:z-30 lg:px-8 xl:start-80"
            />
            <Navigation class="hidden lg:mt-10 lg:block xl:mt-12" />
          </div>
        </header>
        <div class="relative flex h-full flex-col px-4 pt-14 sm:px-6 lg:px-8">
          <main class="flex-auto">
            <article
              class="mx-auto w-full max-w-2xl py-8 lg:max-w-3xl lg:py-10 xl:py-12"
            >
              <slot />
            </article>
          </main>
          <Footer
            class="mx-auto w-full max-w-2xl pb-8 lg:max-w-3xl lg:pb-10 xl:pb-12"
          />
        </div>
      </div>
    </div>
  </body>
</html>
