---
/**
 * Copyright 2025 Daniel Perez Alvarez
 *
 * This file is part of Static Feeds.
 *
 * Static Feeds is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option) any
 * later version.
 *
 * Static Feeds is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Static Feeds. If not, see <https://www.gnu.org/licenses/>.
 */

import type { HTMLAttributes } from "astro/types";

import { getLangFromUrl, useTranslations } from "../i18n/index.ts";
import FeedIcon from "./icons/Feed.astro";

type Props = HTMLAttributes<"div">;

const props = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div {...props}>
  <a href="/" class="group flex items-center gap-2 font-extrabold">
    <FeedIcon
      aria-hidden="true"
      class="fill-uwu-flamingo group-hocus:fill-uwu-flamingo/85 h-6 w-6 transition-colors"
    />
    <span
      class="text-uwu-flamingo group-hocus:text-uwu-flamingo/85 transition-colors"
    >
      {t("components.HeaderTitle.text")}</span
    >
  </a>
</div>
