---
/**
 * Copyright 2025 Daniel Perez Alvarez
 *
 * This file is part of Static Feeds.
 *
 * Static Feeds is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option) any
 * later version.
 *
 * Static Feeds is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Static Feeds. If not, see <https://www.gnu.org/licenses/>.
 */

import type { HTMLAttributes } from "astro/types";

import { getLangFromUrl, useTranslations } from "../i18n";
import SearchIcon from "./icons/Search.astro";

type Props = HTMLAttributes<"button">;

const { class: className, ...otherProps } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<button
  {...otherProps}
  type="button"
  class:list={[
    className,
    "bg-uwu-base/85 text-uwu-overlay2 ring-uwu-overlay0 h-8 w-full cursor-pointer items-center gap-2 rounded-full pe-3 ps-2 text-sm opacity-75 ring-1 ring-inset transition-opacity hover:opacity-100",
  ]}
>
  <SearchIcon aria-hidden="true" class="h-5 w-5 fill-current p-1" />
  {t("components.SearchButtonLarge.label")}
  <kbd class="ms-auto text-xs">
    <kbd class="font-sans">⌘</kbd><kbd class="font-sans">K</kbd>
  </kbd>
</button>
